.container1{
  display:flex;
  height: 120px;
  width: 550px;
  justify-content: center;
  background-color: rgb(63, 142, 192);
  border-radius: 30px;
}
.container2 {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 250px;
  width: 550px;
  overflow: hidden;
  border-radius: 30px;
}
.container3 {
  display: flex;
  margin-top:40px;
  height: 500px;
  width: 700px;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-radius: 30px;
  border-style: double;
  border-color: white;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}