@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body {
  margin: 0;
  
  font-family: 'Rock Salt', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3d3c8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
